.Rproj.user
.Rhistory
.RData
.Ruserdata
CitA.docx
DeptComparison.docx
Calgary/
CarnegieMellon/
ColoradoBoulder/
Dalhousie/
Duke/
Florida/
GeorgiaTech/
IllinoisUC/
Laval/
Manitoba/
McGill/
McMaster/
Michigan/
Minnesota/
Montreal/
Ottawa/
Queens/
Saskatchewan/
Toronto/
UBC/
UTAustin/
Waterloo/
Western/
Wisconsin/
WoSdata/
DeptComparison.Rmd
